openapi: 3.0.0
info:
  title: Frax Finance v1-gauge v2-lfrax API
  description: The Frax Finance API
  version: '1.0'
  contact:
    name: Frax Finance
    url: https://docs.frax.finance
    email: no-reply@frax.finance
servers:
- url: https://api.frax.finance
tags:
- name: v2-lfrax
paths:
  /v2/lfrax/balance-sheet/latest:
    get:
      operationId: getLegacyFraxBalanceSheetLatestData
      summary: Returns the latest Legacy Frax Dollar balance sheet data
      description: Returns the latest Legacy Frax Dollar balance sheet data
      parameters: []
      responses:
        '200':
          description: Returns the latest Legacy Frax Dollar balance sheet data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyFraxDollarBalanceSheetLatestResponse'
      tags:
      - v2-lfrax
  /v2/lfrax/balance-sheet/latest/export:
    get:
      operationId: exportLegacyFraxDollarBalanceSheetLatestData
      summary: Returns a CSV of the latest Legacy Frax Dollar balance sheet data
      description: Returns a CSV of the latest Legacy Frax Dollar balance sheet data
      parameters: []
      responses:
        '200':
          description: Returns a CSV of the latest Legacy Frax Dollar balance sheet data
          content:
            text/csv:
              schema:
                type: string
                format: binary
      tags:
      - v2-lfrax
components:
  schemas:
    LegacyFraxDollarBalanceSheetLatestResponse:
      type: object
      properties:
        asOfBlock:
          type: object
          additionalProperties:
            oneOf:
            - type: number
        asOfTimestamp:
          format: date-time
          type: string
        tokenPriceUsd:
          type: object
          additionalProperties:
            oneOf:
            - type: number
        categorySummaryUsd:
          type: object
          additionalProperties:
            oneOf:
            - type: number
        totalAssets:
          type: number
        totalLiabilities:
          type: number
        totalLockedLiquidity:
          type: number
        assets:
          description: List of Legacy Frax Dollar balance sheet assets.
          type: array
          items:
            $ref: '#/components/schemas/LegacyFraxDollarBalanceSheetItem'
        liabilities:
          description: List of Legacy Frax Dollar balance sheet liabilities.
          type: array
          items:
            $ref: '#/components/schemas/LegacyFraxDollarBalanceSheetItem'
      required:
      - asOfBlock
      - asOfTimestamp
      - tokenPriceUsd
      - categorySummaryUsd
      - totalAssets
      - totalLiabilities
      - totalLockedLiquidity
      - assets
      - liabilities
    LegacyFraxDollarBalanceSheetItem:
      type: object
      properties:
        category:
          type: string
        chain:
          type: string
          enum:
          - arbitrum
          - aurora
          - avalanche
          - base
          - boba
          - bsc
          - ethereum
          - fantom
          - fraxtal
          - fraxtal_testnet
          - harmony
          - holesky
          - linea
          - mantle
          - moonbeam
          - moonriver
          - optimism
          - polygon
          - polygon_zkevm
          - scroll
          - sonic
          - solana
          - stable
          - zksync
        address:
          type: string
        contractAddress:
          type: string
        tokenAddress:
          type: string
        tokenSymbol:
          type: string
        totalValueUsd:
          type: number
        tokenQuantity:
          type: number
        tokenQuantityE18:
          type: string
        description:
          type: string
      required:
      - category
      - chain
      - address
      - contractAddress
      - tokenAddress
      - tokenSymbol
      - totalValueUsd
      - tokenQuantity
      - tokenQuantityE18
      - description
externalDocs:
  description: Open V2 Docs
  url: /v2/docs
