openapi: 3.0.0
info:
  title: Frax Finance v1-gauge v1-vefpis API
  description: The Frax Finance API
  version: '1.0'
  contact:
    name: Frax Finance
    url: https://docs.frax.finance
    email: no-reply@frax.finance
servers:
- url: https://api.frax.finance
tags:
- name: v1-vefpis
paths:
  /v1/lockedvefpisdata:
    get:
      operationId: V1Controller_getLockedVeFPISData
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockedVeFPISDataResponse'
      tags:
      - v1-vefpis
  /v1/vefpisdata/{filter}:
    get:
      operationId: V1Controller_getVeFPISData
      parameters:
      - name: filter
        required: true
        in: path
        description: Timeframe
        schema:
          enum:
          - all-time
          - 1-year
          - 6-months
          - 3-months
          - 1-month
          - 1-week
          - 1-day
          - 8-hours
          - 1-hour
          - 15-minutes
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VefpisDataResponse'
      tags:
      - v1-vefpis
components:
  schemas:
    LockedVefpisStakeBucketAggregate:
      type: object
      properties:
        _id:
          type: string
        count:
          type: number
        total:
          type: number
      required:
      - _id
      - count
      - total
    VefpisItem:
      type: object
      properties:
        blockNum:
          type: number
        timestamp:
          type: number
        vefpis_supply:
          type: number
        fpis_locked:
          type: number
        fpis_locked_pct_of_circulating:
          type: number
        fpis_locked_pct_of_total:
          type: number
        avg_lock_time_yrs:
          type: number
        pct_participating:
          type: number
        yield_value_usd:
          type: number
        apr:
          type: number
      required:
      - blockNum
      - timestamp
      - vefpis_supply
      - fpis_locked
      - fpis_locked_pct_of_circulating
      - fpis_locked_pct_of_total
      - avg_lock_time_yrs
      - pct_participating
      - yield_value_usd
      - apr
    VefpisDataResponse:
      type: object
      properties:
        full_items:
          type: array
          items:
            $ref: '#/components/schemas/VefpisItem'
        chartjs:
          type: object
      required:
      - full_items
      - chartjs
    LockedVeFPISDataResponse:
      type: object
      properties:
        token:
          type: string
        unlocked_sum:
          type: number
        locked_sum:
          type: number
        buckets:
          type: array
          items:
            $ref: '#/components/schemas/LockedVefpisStakeBucketAggregate'
      required:
      - token
      - unlocked_sum
      - locked_sum
      - buckets
externalDocs:
  description: Open V2 Docs
  url: /v2/docs
